.ant-list .ant-list-item{
    padding: 4px 0px;
}
.ant-list-item .ant-list-item-action {
    display: none;
}

.ant-list-item:hover .ant-list-item-action {
    display: flex;
}
.ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box
 {
    padding-block: 0px;
}

.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar {
    margin-inline-end: 10px;
}
.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title{
    font-size: 12px;
    line-height: 1.2;
}
.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-description{
    font-size: 12px;
    line-height: 1.2;
}